@inject NavigationManager NavigationManager
@inject UseCases.IViewCustomersUseCase ViewCustomersUseCase
@inject UseCases.IDeleteCustomerUseCase DeleteCustomerUseCase

<div>
    <h3>CustomerWidgetComponent</h3> 
    <i class="fa fa-plus" aria-hidden="true"></i>
    <br/>
    <h2>Покупатели</h2><br/>

        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var customer in customers)
                {
                    <tr>
                        <td>@customer.Name</td>
                        <td>@customer.Description</td>
                        <td>
                            <button tupe="button" @onclick="@(() => EditCustomer(customer))" class="btn btn-light">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button tupe="button" @onclick="@(() => DeleteCustomer(customer.СustomerId))" class="btn btn-light">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@code {

    private List<Customer> customers;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadCustomers();
    }

    protected void EditCustomer(Customer customer)
    {
        NavigationManager.NavigateTo($"/editcustomer/{customer.СustomerId}");
    }

    protected void DeleteCustomer(int CustomerId)
    {
        DeleteCustomerUseCase?.Delete(CustomerId);
        LoadCustomers();
    }

    private void LoadCustomers()
    {
        customers = ViewCustomersUseCase.Execute()?.ToList();
    }
}
