@page "/"
@using Microsoft.EntityFrameworkCore
@using WebOptixSuccess.Components
@inject NavigationManager NavigationManager

@inject Plugins.DataStore.SQL.AppDbContext dbContext
<PageTitle>Optix Management System</PageTitle>

<div class="row">
    <div class="col col-6">
        <h1>Optix Management System @*(@startDate)*@</h1>
    </div>
    <div class="col col-6" style="text-align:right">
        <RadzenButton Icon="refresh" Click="@Refresh" ButtonStyle="ButtonStyle.Light" style="margin:10px;" />
    </div>
</div>

<ErrorBoundary>
    <RadzenMasterDetailComponent Refresh="@true"></RadzenMasterDetailComponent>
</ErrorBoundary>

@code {
    //private DateTime? startDate;

    ////protected override Task OnParameters()
    ////{
    ////    startDate = DateTime.Now;
    ////    //startDate = StartDate ?? DateTime.Now;
    ////}

    //[Parameter]
    //[SupplyParameterFromQuery]
    //public DateTime? StartDate { get; set; }

    void UpdateStartDate(int days)
    {
        //startDate = startDate.AddDays(days);
    }

    void Refresh()
    {
        NavigationManager.NavigateTo("/", true);
    }
}