@page "/addordercustomer"
@using UseCases

@inject NavigationManager NavigationManager
@inject IAddOrderCustomerUseCase AddOrderCustomerUseCase 

<h3>Add OrderCustomer</h3>

@if (orderCustomer != null)
{
    <EditForm Model="orderCustomer"  OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="orderCustomer.Name" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <InputTextArea id="description" @bind-Value="orderCustomer.Description" class="form-control"></InputTextArea>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <InputFile OnChange="@LoadFiles" multiple />
        </div>



        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" @onclick="OnCansel">Cansel</button>
    </EditForm>
}

@code {
    private OrderCustomer orderCustomer;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        orderCustomer = new OrderCustomer();
    }
    private void OnValidSubmit()
    {
        AddOrderCustomerUseCase.Execute(orderCustomer);
        NavigationManager.NavigateTo("/ordercustomers");
    }

    private void OnCansel()
    {
        NavigationManager.NavigateTo("/ordercustomers");
    }

    private void LoadFiles(InputFileChangeEventArgs e)
    {

    }
}
