<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebOptixSuccess</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="oi oi-plus" aria-hidden="true"></span> Клиенты
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="order-customers">
                <span class="oi oi-plus" aria-hidden="true"></span> Заказы клиентов
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="item-orders">
                <span class="oi oi-plus" aria-hidden="true"></span> Товары в заказах
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="order-vendors">
                <span class="oi oi-plus" aria-hidden="true"></span> Заказы поставщиков
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vendors">
                <span class="oi oi-plus" aria-hidden="true"></span> Поставщики
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Settings">
                <span class="oi oi-plus" aria-hidden="true"></span> Обслуживание
            </NavLink>
        </li>
    </ul>
</div>
    <RadzenPanelMenu Style="width:250px">
        <RadzenPanelMenuItem Text="Categories & Products" Icon="reorder">
           <RadzenPanelMenuItem Text="Categories" Path="categories" Icon="arrow_right_alt"></RadzenPanelMenuItem>
           <RadzenPanelMenuItem Text="Products" Path="products" Icon="arrow_right_alt"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>

        <RadzenPanelMenuItem Text="Counter & Fetch data" Icon="done_all">
           <RadzenPanelMenuItem Text="Counter" Path="counter" Icon="arrow_right_alt"></RadzenPanelMenuItem>
           <RadzenPanelMenuItem Text="Fetch data" Path="fetchdata" Icon="arrow_right_alt"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>

        <RadzenPanelMenuItem Text="File Upload" Icon="file_download">
           <RadzenPanelMenuItem Text="File Upload 1" Path="file-upload-1" Icon="arrow_right_alt"></RadzenPanelMenuItem>
           <RadzenPanelMenuItem Text="File Upload 2" Path="file-upload-2" Icon="arrow_right_alt"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
    </RadzenPanelMenu>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
