@*https://getbootstrap.com/docs/4.0/components/alerts/*@
@using WebOptixSuccessAuth

@if (!string.IsNullOrWhiteSpace(@AlertClass) && string.IsNullOrWhiteSpace(@Message))
{
    <div class="alert @AlertClass" role="alert">
        @Message
    </div>
}

@code {
    [Parameter] public string AlertClass { get; set; } = "";
    [Parameter] public string Message { get; set; } = "";

    //private string Data = "";    
    
    //protected override async Task OnInitializedAsync()    
    //{        
    //    Data = await Service.GetDataAsync();       
    //    StateHasChanged();    
    //}
}
