@page "/editcustomer/{customerId}"

@inject NavigationManager NavigationManager
@inject IEditCustomerUseCase EditCustomerUseCase
@inject IGetCustomerByIdUseCase GetCustomerByIdUseCase 

<h3>Редактирование клиента</h3>

@if(customer != null)
{
    <EditForm Model="customer"  OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="company">Организация</label>
            <InputText id="company" @bind-Value="customer.Company" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="name">Login</label>
            <InputText id="name" @bind-Value="customer.Name" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="fullname">ФИО</label>
            <InputText id="fullname" @bind-Value="customer.Fullname" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="email" @bind-Value="customer.Email" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="phone">Телефон</label>
            <InputText id="phone" @bind-Value="customer.Phone" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="description">Описание</label>
            <InputTextArea id="description" @bind-Value="customer.Description" class="form-control"></InputTextArea>
        </div>

        <div class="form-group">
            <label for="password">Пароль</label>
            <InputText id="password" @bind-Value="customer.Password" class="form-control"></InputText>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" @onclick="OnCansel">Cansel</button>
    </EditForm>
}

@code {
    [Parameter]
    public string CustomerId { get; set; }

    private Customer customer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        customer = new Customer();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (int.TryParse(this.CustomerId, out int iCustomerId)) 
        {
            this.customer = GetCustomerByIdUseCase.Execute(iCustomerId);
        }
    }

    private void OnValidSubmit()
    {
        EditCustomerUseCase.Execute(customer);
        NavigationManager.NavigateTo("/customers");
    }

    private void OnCansel()
    {
        NavigationManager.NavigateTo("/customers");
    }
}
