<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Optix Management</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="oi oi-plus" aria-hidden="true"></span> Клиенты
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ordercustomers">
                <span class="oi oi-plus" aria-hidden="true"></span> Заказы клиентов
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="itemorders">
                <span class="oi oi-plus" aria-hidden="true"></span> Товары в заказах
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ordervendors">
                <span class="oi oi-plus" aria-hidden="true"></span> Заказы поставщиков
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vendors">
                <span class="oi oi-plus" aria-hidden="true"></span> Поставщики
            </NavLink>
        </li>
         <li class="nav-item px-3">
             <hr/>
         </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
             <hr/>
         </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="oi oi-plus" aria-hidden="true"></span> Manage Categories
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="oi oi-plus" aria-hidden="true"></span> Products
            </NavLink>
        </li>
    </ul>
    <hr/>
    <RadzenPanelMenu Style="width:300px">
       <RadzenPanelMenuItem Text="File Upload" Icon="file_download">
           <RadzenPanelMenuItem Text="File Upload 1" Path="file-upload-1" Icon="file_download"></RadzenPanelMenuItem>
           <RadzenPanelMenuItem Text="File Upload 2" Path="file-upload-2" Icon="file_download"></RadzenPanelMenuItem>
       </RadzenPanelMenuItem>
    </RadzenPanelMenu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
