<AuthorizeView>
    <Authorized>
        <div class="row">
@*            <div class="col col-6">
                <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
            </div>*@
            <div class="col col-6">
                @*<form method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="nav-link btn btn-link">Выход</button>
                </form>*@
            </div>
        </div>
    </Authorized>
</AuthorizeView>
