@page "/"
@using WebApp.Components

@inject NavigationManager NavigationManager

<div class="optix-font optix-page-title">
    <h1>Optix Management System</h1>
</div>


<CustomerWidgetComponent CountItemOnPage=@CountItemOnPage OnUpdateCallback=@OnUpdateCallback ></CustomerWidgetComponent>
<hr/>
<VendorWidgetComponent  CountItemOnPage=@CountItemOnPage  OnUpdateCallback=@OnUpdateCallback ></VendorWidgetComponent>

@code {

    private int CountItemOnPage { get; set; } = 3;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }  

    protected void OnUpdateCallback()
    {
        int temp = CountItemOnPage;
        CountItemOnPage = temp;
    }
}