@page "/"
@using WebApp.Components

@inject NavigationManager NavigationManager

<div class="optix-font optix-page-title">
    <h1>Optix Management System</h1>
</div>


<CustomerGroupWidgetsComponent ></CustomerGroupWidgetsComponent><hr/>
@*<VendorGroupWidgetsComponent    CountItemOnPage=@CountItem></VendorGroupWidgetsComponent>*@

@code {

    private int CountItem { get; set; } = 3;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }  

    protected void OnUpdateCallback()
    {
        int temp = CountItem;
        CountItem = temp;
        //CustomerGroupWidgetsComponent.
    }
}