@page "/"

@inject NavigationManager NavigationManager

<h1>Optix Opt 2022</h1>

<CustomerWidgetComponent />
<hr/>
<VendorWidgetComponent />

@code {
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }  
    
}