@page "/ordercustomers"

@inject NavigationManager NavigationManager
@inject UseCases.IViewOrderCustomersUseCase ViewOrderCustomerUseCase

<h3>Manage OrderCustomer</h3>

@if(orderCustomers != null)
{
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var orderCustomer in orderCustomers)
                {
                    <tr>
                        <td>@orderCustomer.Name</td>
                        <td>@orderCustomer.Description</td>
                        <td>
                            <button tupe="button" @onclick="@(() => EditOrderCustomer(orderCustomer))" class="btn btn-light">Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br/>
        <button type="button" @onclick="OnClickAddOrderCustomer" class="btn btn-primary">Add OrderCustomers</button>
}

@code {
    private List<OrderCustomer> orderCustomers;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        orderCustomers = ViewOrderCustomerUseCase.Execute()?.ToList();
    }

    protected void OnClickAddOrderCustomer()
    {
        NavigationManager.NavigateTo("/addordercustomer");
    }

    protected void EditOrderCustomer(OrderCustomer orderCustomer)
    {
        NavigationManager.NavigateTo($"/editordercustomer/{orderCustomer.OrderCustomerId}");
    }
}
